@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  background-color: #f0f0f0;
}
button{
  background-color: #000;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
}
button:hover {
  background-color: #555;
}
input, select {
  width: 100%;
  height: 50px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
}

.error{
  font-size: .8em;
  color: #ff0000;
}
.tags {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007BFF;
  color: #fff;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  margin: 5px;
  white-space: nowrap;
}
.tags-a {
  background-color: #6c757d;
}
.tags-b {
  background-color: #b96300;
}
.tags-c {
  background-color: #28a745;
  font-weight:bold;
}
.tags-d {
  background-color: #ff0000;
  font-weight:bold;
}
.tags-pay {
  background-color: #079975;
  background-color: #fff;
  color:#28a745;
  cursor: pointer;
  transition: all .2s;
}
.tags-unp {
  background-color: #ec5803;
  background-color: #fff;
  color:#007BFF;
  cursor: pointer;
  transition: all .2s;
}
.tags-del {
  background-color: #fff;
  color:#ff0000;
  cursor: pointer;
  transition: all .2s;
}
.tags-del:hover,
.tags-pay:hover,
.tags-unp:hover {
  opacity: .8;
}
.val-n{
  color:#ff0000;
}
.val-p{
  color:#28a745;
}

.register-container{
  width: 50%;
  padding:2% 5%;
  margin: 2% auto;
  border-radius: 10px;
  background-color: #fafafa;
  align-content: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}
.register-container img {
  height: 60px;
  width: auto;
}
.register-container .input-group{
  margin:20px 0;
}
.register-container button{
  width:100%;
}
.register-container button[type='reset']{
  color: #000;
  margin-top: 10px;
  background-color: transparent;
}

.login-container {
  width: 80%;
  height: 500px;
  margin: 5% auto;
  border-radius: 10px;
  background-color: #fafafa;
  background-image: url('https://wallet.lucasrobertodev.com.br/_next/static/media/lines-background.48080b07.png');
  background-position: left;
  background-size: 50%;
  background-repeat: no-repeat;
  align-content: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}
.login-container form {
  width: 30%;
  margin-left: 60%;
  text-align: center;
}
.login-container form .login-logo{
  height: 80px;
  width: auto;
}
.login-container form h2 {
  text-align: center;
  margin: 10px 0 10px 0 !important;
  color: #000;
}
.login-container form .input-group {
  margin-bottom: 15px;
}
.login-container form label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
  color: #000;
}
.login-container form .error {
  color: #ff0000;
  font-size: 0.875em;
  margin-top: 5px;
}
.login-container form button {
  width: 100%;
  margin-top:5px;
}
.login-container form small {
  cursor: pointer;
}
.login-container form .lbl-error {
  color: #ff0000;
  font-size: 0.875em;
  margin: 5px 0;
}

.add-item-container {
  width: 70%;
  padding:10px 40px 40px 40px;
  min-height: 500px;
  margin: 2% 13%;
  border-radius: 10px;
  background-color: #fafafa;
  align-content: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}
.add-item-container .add-item-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.add-item-container .add-item-header img{
  height: 50px;
  width: auto;
}
.add-item-container .input-group{
  margin-bottom: 20px;
}
.add-item-container .input-group input,
.add-item-container .input-group select{
  margin-top: 5px;
}
.add-item-container .period{
  display: flex;
  justify-content: space-between;
  gap:3%;
  width: 100%;
}
.add-item-container .period .input-group{
  width: 48.3%;
}
.add-item-container button {
  width: 100% !important;
}
.add-item-container button[type='reset']{
  color: #000;
  margin-top: 10px;
  background-color: transparent;
}

.items-container{
  width: 80%;
  margin: 5% auto;
}
.items-container img{
  height: 70px;
  width: auto;
}
.items-container .items-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.items-container .items-header h2{
  font-size: 2.1em;
}
.items-container .items-filter{
  display: flex;
  align-items: center;
  color:#333;
}
.items-container select{
  width: auto;
  background: transparent;
  border:none;
}
.items-container .balance-values{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.items-container .balance-values p.balance-val{
  font-weight: bold;
  color: #007BFF;
}
.items-container .balance-values p.balance-val-n{
  font-weight: bold;
  color: #ff0000;
}
.items-container .pending-values{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding:0 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #ffefcd;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.items-container .pending-values p b{
  color: #ff0000;
  white-space: nowrap;
}
.items-container .text-filter{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;
}
.items-container .text-filter input{
  background-color: transparent;
}
.items-container .item{
  border-radius: 10px;
  padding:0 20px;
  transition: all .2s;
}
.items-container .item:hover {
  background-color: #eeeeee;
}
.items-container .item .item-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px
}
.items-container .item h3{
  font-size: 1.8em;
  color:#333;
  white-space: nowrap;
}
.items-container .item .item-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.items-container .item .item-header h4 {
  font-size: 1.3em;
}

@media (max-width: 1200px) {
  .register-container {
    width: 90%;
    margin: 5% auto;
  }

  .login-container {
    width: 90%;
    height: 500px;
    margin: 5% auto;
    border-radius: 10px;
    background-color: #fafafa;
    background-image: none;
    align-content: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
  }
  .login-container form {
    width: 90%;
    margin-left: 5%;
    text-align: center;
  }

  .add-item-container {
    width: 84%;
    padding:1% 4%;
    min-height: 500px;
    margin: 2% 4%;
    border-radius: 10px;
    background-color: #fafafa;
    align-content: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
  }

  .items-container{
    width: 98%;
    margin: 1% auto;
  }
  .items-container .items-filter p,
  .items-container .items-filter select{
    font-size: .8em;
  }
  .items-container .item h3{
    font-size: 1em;
    white-space: break-spaces;
  }
  .items-container .item .item-header h4{
    font-size: 1em;
  }
  .items-container .item-tags{
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 10px;
  }
}

